html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.loading-spinner-background-image {
  background-image: url("/public/vercel.svg");
}

/* chrome and chromium based */
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.accordion-button:not(.collapsed)::after {
  background-image: url("/Accordion/down-arrow.svg");
  background-color: white;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}


.accordion-button::after {
  background-color: white;
  background-image: url("/Accordion/down-arrow.svg");

  /*box-shadow: inset 0 0 0 1000px rgba(0, 255, 191, 0.25);*/

}

.accordion-button:not(.collapsed) {
 /*background-color: yellow;*/
  border-radius: 0.5rem;
  background-color: #a996b6;
  /*background: linear-gradient(131deg, rgba(6,1,13,1) 0%, rgba(30,9,60,1) 48%, rgba(50,18,97,1) 100%);*/
  color: white;
}
.accordion-button.collapsed {
  border-radius: 0.5rem;
  background-color: #5a5061;
  color: white;
}

.accordion-container {
  border-radius: 0.5rem;
}

.standardized-button {
  background-color: rgba(16, 101, 212, 0.9);
  color: white;
  font-weight: bolder;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  box-shadow: 2px 4px 6px gray;
}

.heading-text {
  font-size: 32px;
  font-weight: 'semibold';
}

.body-text {
  font-size: 18px;
  font-weight: normal;
}

.tradingview-widget-copyright {
  display: none;
}
.screener {
  max-width: 100%;
}